<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaojh.user.mapper.IUserMapper">
    <!--添加用户-->
    <insert id="addUser" parameterType="user">
        insert into user (id, loginname, password, nickname,roles, sex,  mobile, email, interest, personality)
        values (#{id}, #{loginname}, #{password}, #{nickname},#{roles}, #{sex},  #{mobile}, #{email}, #{interest}, #{personality});
    </insert>

    <!--用户登录，查询用户是否存在-->
    <select id="findUserByName" parameterType="string" resultType="user">
        select id, loginname, PASSWORD, nickname, roles from user
        where loginname=#{loginname}
    </select>

    <!--验证用户的身份证信息是否可用-->
    <select id="findByIdentitycard" parameterType="string" resultType="user">
        select identitycard, status from user
        where identitycard=#{identitycard}
        and status=#{staus}
    </select>

    <!--修改用户的状态-->
    <update id="modifyUserStatus" parameterType="String">
        update user set status=#{param2}
        where id=#{param1}
    </update>
</mapper>